extends ./layout/index

block contenido
    h1(class="mt-5 text-center") #{pagina}
        //- p= JSON.stringify(viajes) con esto debugueamos para saber si se esta pasando la info correctamente
    main.container.mt-5     
        include ./layout/bloque_viajes